
body {
    font-family: Josefin Sans, sans-serif;
}


/* Containers */

.container-wrapper {}

.container-wrapper--gold {
    background-color:  rgb(208, 188, 106);
}

.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
}

.callout-container {
    height: 100vh;

    background: url(../images/back-bar-5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.quotes-container {}

.features-container {}

/* page header */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Block dividers */

.block-divider {
    height: 5px;
    width: 75px;
    border: 0;
    background-color: #ded9cc;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--short {
    width: 35px;
}

/* Content Container */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: o;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}


.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar .navbar-toggler {
    border: 0;
}
/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: rgb(208, 188, 106);
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: rgb(167, 137, 63);
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #ffffff;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: rgb(208, 188, 106);
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #d4a552;
    border-color: #df4929;
    color: white;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    
}